In [3]:
# If Else conditions
# Every condition(if, else, for....) will be included a Colon ":" in it.
# In any condition, If you don't want to do anything just give a "pass". (29) 
# Giving input by the user and conditions. (43)
# Always input() function will be in a string format. It can be converted into other formats like int... if needed.
# and keyword is used for and operator (52)
# if statement can be written in a single line. But, it is not advisable to use a single line. (53)
# Nested if is used it was a kind of hirarchy used. (2)
# single equal to is used for assignment operatopr. And, Double equal to is used for comparision operator.
# if .... elif.... else
# For loop
# Segregating only integers from a big size list with all formats. (24) 
# For else statement
# Try to print the index of all the elements in a list. 
# Range function (48) (53)
# Enumerate is a inbuilt function that will generate tuples which contains index and the element in the list

In [ ]:
# if.. elif... else

In [32]:
a = 16

In [33]:
if a < 15:
    print("hi")
else:
    print("hello")

hello

In [34]:
b = 10

In [35]:
if b < 6:
    pass

In [37]:
c = 10
if c < 15:
    print("My name is hemanth")

My name is hemanth

In [38]:
if 10 < 15:
    print("My name is hemanth")

My name is hemanth

In [39]:
if 10 < 3 :
    print("10 is less than 3")
else :
    print("the above statement is wrong")

the above statement is wrong

In [42]:
income = 40
if income < 50:
    print("I will be able to buy an apple")
elif income < 70:
    print("I will buy a Guava")
elif income < 90:
    print("I will buy bananas")
else:
    print("Nothing I will buy")

I will be able to buy an apple

In [43]:
income = int(input())
if income < 50:
    print("I will be able to buy an apple")
elif income < 70:
    print("I will buy a Guava")
elif income < 90:
    print("I will buy bananas")
else:
    print("Nothing I will buy")

70
I will buy bananas

In [45]:
Total_price = int(input())
if Total_price > 20000:
    discount = Total_price * .20
    print("Discount will be", discount)
elif Total_price <= 7000 :
    discount = Total_price * .05
    print("Discount will be", discount)
else :
    print("Won't be able to give a discount")

50000
Discount will be 10000.0

In [49]:
coup = str(input())
if coup == 'Hemanth5' :
    print('you will be able to get a discount of 5 %')
    paid_amount = 7080 - 7080 * .05
    print('you will be able to get one neuron with this amount' , paid_amount)
else :
    print('Kindly use valid Coupon Code')

Hemanth5
you will be able to get a discount of 5 %
you will be able to get one neuron with this amount 6726.0

In [52]:
study_hour = int(input())
if study_hour < 1 :
    print('It may take 8-9 months of time to make a transition')
elif study_hour < 4 and study_hour > 1 :
    print('It may take 6 month of time to make a transition')
elif study_hour > 10 :
    print('It will take 3 months for a transition')
else :
    print('It will be difficult')

2
It may take 6 month of time to make a transition

In [53]:
a = 9
if a == 9 : print('valid')

valid

In [2]:
s = input("Enter a string to start ")
course = input("Enter a course name ")
service = input("Enter a Service name ")
if s == 'oneneuron' :
    if course == 'DSA' :
        print('yes, it is available under oneneuron and in multiple modes for job preparation and core concepts')
    elif course == 'Blockchain' :
        print('this is not available as of now, kindly raise your demand and we will fulfil in 60 days')
    elif course == 'FSDS':
        print('yes, it was available you can start learning')
    else :
        print('this course is not available kindly raise a demand') 
elif s == 'oneneuron service' :
    if service == 'courserequest' :
        print('Note: Hi ')
    elif service == 'Module Request' :
        print('Note: Hello ')
    elif service == 'Doubt' :
        print('Note: it will be cleared')
    elif service == 'workwithus' :
        print('Hi work with team')
    else :
        print('please provide us your feedback')
else :
    print('kindly connect with our team')

Enter a string to start zdfbbd
Enter a course name dbfsdjbvsdkl
Enter a Service name ljdbvbvkl
kindly connect with our team

In [4]:
#For Loop

In [5]:
l = [1,2,3,4,5,6,7]
for i in l :
    print(i)

1
2
3
4
5
6
7

In [8]:
s = 'hemanth'
for i in s :
    print(i)

h
e
m
a
n
t
h

In [9]:
for i in 'hemu' :
    print(i)

h
e
m
u

In [10]:
t = (1,2,3,4,'a','hemanth',6,7)
for i in t :
    print(i)

1
2
3
4
a
hemanth
6
7

In [16]:
L1 = [1,4,5.6,4+7j,'sudh', 1.2]
for i in L1 :
    print(type(i), 'type of' , i)

<class 'int'> type of 1
<class 'int'> type of 4
<class 'float'> type of 5.6
<class 'complex'> type of (4+7j)
<class 'str'> type of sudh
<class 'float'> type of 1.2

In [17]:
L2 = [1,2,3,4.5,5-2j]
for i in L2 :
    j = i + 2
    print (j)

3
4
5
6.5
(7-2j)

In [22]:
L2 = [1,2,3,4.5,5-2j]
L1 = []
for i in L2 :
    print (i+2)
    L1.append(i+2)
print(L1)

3
4
5
6.5
(7-2j)
[3, 4, 5, 6.5, (7-2j)]

In [21]:
L1

[3, 4, 5, 6.5, (7-2j)]

In [29]:
L3 = [1,2,'a', 'hemu', 6-2j, [1,2,3,4,'a']]
L4 = []
L5 = []
for i in L3 :
    if type(i) == int :
        print(i)
        L4.append(i)
    elif type(i) == list :
        for j in i :
            if type(j)==int :
                print(j)
                L5.append(j)
                
            
L4.append(L5)
print(L4)

1
2
1
2
3
4
[1, 2, [1, 2, 3, 4]]

In [30]:
L6 = [2,45,78,12,'Hemanth',2+3j,[12,23,4,5,67,'fsds']]

# Try to print the index of all the elements in a list
# Try to extract all the list of Char if the element is a string
# Try to return a list after doing a square of all the int elements.

In [38]:
j = 0
for i in L6 :
    print('index is', j, '-',i)
    j=j+1

index is 0 - 2
index is 1 - 45
index is 2 - 78
index is 3 - 12
index is 4 - Hemanth
index is 5 - (2+3j)
index is 6 - [12, 23, 4, 5, 67, 'fsds']

In [57]:
L8 = []
for i in L6 :
    if type(i) == str :
        for j in i :
            L8.append(j)
            print(j)
    elif type(i) == list :
        for j in i :
            if type(j) == str :
                for k in j :
                    L8.append(k)
                    print(k)
L8

H
e
m
a
n
t
h
f
s
d
s

['H', 'e', 'm', 'a', 'n', 't', 'h', 'f', 's', 'd', 's']

In [46]:
L7 = []
L8 = []
for i in L6 :
    if type(i) == int :
        k = i * i
        L7.append(k)
    elif type(i) == list :
        for j in i :
            if type(j) == int :
                H = j * j
                L8.append(H)
L7.append(L8)
L7

[4, 2025, 6084, 144, [144, 529, 16, 25, 4489]]

In [48]:
range(4)

range(0, 4)

In [47]:
L6 = [2,45,78,12,'Hemanth',2+3j,[12,23,4,5,67,'fsds']]

# Try to print the index of all the elements in a list
# Try to extract all the list of Char if the element is a string
# Try to return a list after doing a square of all the int elements.

In [53]:
for i in range(len(l)) :
    print('index',i,'for an element',L6[i])

index 0 for an element 2
index 1 for an element 45
index 2 for an element 78
index 3 for an element 12
index 4 for an element Hemanth
index 5 for an element (2+3j)
index 6 for an element [12, 23, 4, 5, 67, 'fsds']

In [54]:
for i in enumerate(L6) :
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 'Hemanth')
(5, (2+3j))
(6, [12, 23, 4, 5, 67, 'fsds'])

In [55]:
for i,j in enumerate(L6) :
    print(i,j)

0 2
1 45
2 78
3 12
4 Hemanth
5 (2+3j)
6 [12, 23, 4, 5, 67, 'fsds']