In [1]:
# for loop in List (5)
# for loop in String (6)
# for else, Only after the complete for is done. then, it will come to the else statement.
# while loop (19)
# For loop works for collection and while loop works with a condition.
# while loop with break and continue in it. continue will throw it to a loop
# If any loop is declared then if you want to just end it without giving any statements then pass is used. (6)
#  * symbol indicates that the code is still running.
# Print the contents of a tuple in a reverse order. (89)
# Key in a Dictionary behaves like an index in a List or String or a tuple.
# # Extract and iterate can be done with the help of a for loop in case of a List, Set, Tuple, Range function, Dictionary, String.
# While loop always work with a condition and For loop will works with a size of the collection.

In [10]:
L = ['name', 'Email_id', 'Phone_number', 'Address']
for i in L :
    print(i + input())

name

Email_id

Phone_number

Address

In [11]:
L = ['name', 'Email_id', 'Phone_number', 'Address']
for i in L :
    print(i + ' hemanth')

name hemanth
Email_id hemanth
Phone_number hemanth
Address hemanth

In [12]:
S = 'ineuron'
for i in S :
    print(i)

i
n
e
u
r
o
n

In [13]:
L

['name', 'Email_id', 'Phone_number', 'Address']

In [14]:
for i in L :
    print(i)
else :
    print('if for loop is not going to compete itself then it will come to else ')

name
Email_id
Phone_number
Address
if for loop is not going to compete itself then it will come to else

In [15]:
L

['name', 'Email_id', 'Phone_number', 'Address']

In [16]:
for i in L :
    if i == "Email_id" :
        break
    print(i)
else :
    print("check the statement")

name

In [17]:
s = 'Hemanth'
for i in s :
    if i == 'm':
        break
else :
    print('dont execute is unless and until it is not printing my name')

In [19]:
a = 1
while a < 10 :
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9

In [18]:
a = 1
while a < 5 :
    print(a)
    if a == 4 :
        break
    a = a + 1

1
2
3
4

In [5]:
a = 1
while a < 5:
    print(a)
    a = a + 1
    if a == 3:
        continue

1
2
3
4

In [6]:
while a < 5:
    pass

In [20]:
for i in L :
    pass

In [21]:
while a < 4 :
    break

In [ ]:
a = 1
while a < 4 :
    continue

In [24]:
i = 1
while i < = 5 :
    for j

SyntaxError: invalid syntax (Temp/ipykernel_18592/4092584049.py, line 2)

In [26]:
# Range
# This will generate a data from 0 to n by excluding the upper bound
range(6)

range(0, 6)

In [27]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [28]:
tuple(range(6))

(0, 1, 2, 3, 4, 5)

In [29]:
set(range(6))

{0, 1, 2, 3, 4, 5}

In [31]:
range(1,7)
# Range can also be declared like this.

range(1, 7)

In [32]:
list(range(4,100))

[4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [34]:
list(range(3, 10, 2))

[3, 5, 7, 9]

In [35]:
list(range(3, 10, 1))

[3, 4, 5, 6, 7, 8, 9]

In [36]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

In [37]:
list(range(3, 10, -1))

[]

In [38]:
list(range(3, -2, -1))

[3, 2, 1, 0, -1]

In [39]:
list(range(-3, -10, -1))

[-3, -4, -5, -6, -7, -8, -9]

In [42]:
list(range(10, 6, -1))

[10, 9, 8, 7]

In [44]:
list(range(10, -5, -2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [45]:
for i in range(7) :
    print(i)

0
1
2
3
4
5
6

In [52]:
j = 0
for i in range(2,7) :
    print(i)

2
3
4
5
6

In [72]:
n = 5
for i in range(0,n) :
    for j in range(0,i+1) :
        print('* ', end = '')
    print('\r')

*
* *
* * *
* * * *
* * * * *

In [73]:
l = [1,2,3,4,5,6,6,6,6,7,8,9]
for i in l :
    print(i)

1
2
3
4
5
6
6
6
6
7
8
9

In [97]:
t = (1,5,6,8,9,9,11,16,18,20)

In [98]:
for i in t :
    print(i)

1
5
6
8
9
9
11
16
18
20

In [99]:
s = 'ineuron' 
for i in list(range(len(s))) :
    print(i , '-' , t[i])

0 - 1
1 - 5
2 - 6
3 - 8
4 - 9
5 - 9
6 - 11

In [100]:
for i in s :
    print(i)

i
n
e
u
r
o
n

In [101]:
t[::-1]

(20, 18, 16, 11, 9, 9, 8, 6, 5, 1)

In [102]:
# print the numbers of a tuple in a reverse order 
for i in list(range(len(t))) :
    print(t[len(t)-i-1])

20
18
16
11
9
9
8
6
5
1

In [103]:
list(range(len(t),0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [104]:
# Very interesting code. This code will give an output of numbers in a tuple in reverse order.


for i in list(range(len(t)-1,-1,-1)) :
    print(t[i])

20
18
16
11
9
9
8
6
5
1

In [105]:
for i in range(len(t)-1,-1,-1) :
    print(t[i])

20
18
16
11
9
9
8
6
5
1

In [107]:
d = {'a' : 'fsds', 'b' : 'Hemu', 'c' : [1,2,3,5,7], 'd' : (9,0,7,5), 'e' : 'hahahahaha' }

In [110]:
for i in d :
    print(i, '-' , d[i])

a - fsds
b - Hemu
c - [1, 2, 3, 5, 7]
d - (9, 0, 7, 5)
e - hahahahaha

In [111]:
d.items()

dict_items([('a', 'fsds'), ('b', 'Hemu'), ('c', [1, 2, 3, 5, 7]), ('d', (9, 0, 7, 5)), ('e', 'hahahahaha')])

In [114]:
for i in d.items() :
    print(i)

('a', 'fsds')
('b', 'Hemu')
('c', [1, 2, 3, 5, 7])
('d', (9, 0, 7, 5))
('e', 'hahahahaha')

In [115]:
s = {1,3,5,76,57895,7528720,256,1,3,5,76}

In [117]:
# A Set is an unordered collection of an unique elements.
s

{1, 3, 5, 76, 256, 57895, 7528720}

In [118]:
s

{1, 3, 5, 76, 256, 57895, 7528720}

In [119]:
for i in s :
    print(i)

256
1
7528720
3
5
57895
76

In [123]:
# Extract and iterate can be done with the help of a for loop in case of a List, Set, Tuple, Range function, Dictionary, String.